.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #3a5278; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "OR";
    padding-left: 10px;
    background-color: #3a5278; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "AND";
    padding-right: 10px;
    background-color: #3a5278; color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #3a5278; border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

input:checked + .slider {
    background-color: #3a5278;
}

input:focus + .slider {
    box-shadow: 0 0 1px #3a5278;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.facet_border{
    /*border-bottom: 1px solid #c0c0c0;*/
    /*margin-left: 1.8em*/
    /*border-radius: 3px;*/
}

.facet_panel{
    margin-top: -.3em;
    margin-bottom: 0px;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    border-top-radius:3px
}
.facet_heading{
background-color: #c0c0c0;
    color: white;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.facet_title{
    font-size: 18px;
    color: white;
}
.facet_bold{
    color: white;
}
.facet_button{
    color: #777;
    padding-top: 1px;
    padding-right: 2px;
    padding-bottom: 1px;
    padding-left: 2px;

}
.facet-margin{
   margin-bottom: 0.3em;
}
/*.facet_button:hover{*/
    /*cursor: hand;*/
/*}*/
.facet_button_label{
    font-size: 14px;
}
input[type="checkbox"] {
    margin: 4px 4px 4px ;
    margin-top: 1px \9;
    line-height: normal;
}
input[type="checkbox"]:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
input[type="checkbox"],
input[type="radio"] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.checkbox {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: -20px;
    margin-top: 4px \9;
}
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}