<div class="main-page-content">
    <!--<article role="main">-->
    <div>
        <h3 class="col-md-11 col-md-offset-1"><b>Terms of use</b></h3>
    </div>
    <div>
        <p class="col-md-11 col-md-offset-1" >LINCS Data Portal provides access to LINCS data from various sources. The use of these data is conditional on the terms of use from the respective data producing centers and the LINCS Consortium.</p>
    </div>
        <ul class="col-md-11 col-md-offset-1">To view the specific terms and conditions from the each LINCS Center data platform:
            <div class="col-md-offset-1" >
                <li><a href="http://www.lincscloud.org/license/" target="_blank">Broad Center for the Science of Therapeutics (Broad Institute)</a> </li>
                <li><a href="http://lincs.hms.harvard.edu/terms/" target="_blank">HMS LINCS (Harvard Medical School)</a> </li>
                <li><a href="https://martip03.u.hpc.mssm.edu/data.php" target="_blank">DTOxS (Icahn School of Medicine at Mount Sinai)</a></li>
                <li><a href="http://www.neurolincs.org/about" target="_blank">NeuroLINCS (University of California, Irvine)</a></li>
                <li><a href="http://www.broadinstitute.org/~jjaffe/data.php" target="_blank">LINCS Center PCCSE (Broad Institute)</a></li>
                <li><a href="https://www.synapse.org/#!Synapse:syn2862345/wiki/72486"  target="_blank">MEP LINCS (Oregon Health and Science University)</a> </li>
                <li><a href="http://systemsbiology.columbia.edu/lincs"  target="_blank">Columbia LINCS (Columbia University Health Sciences)</a> </li>
                <li><a href="http://lifeonachip.org/cellarium/"  target="_blank">Cellarium (Arizona State University)</a></li>
                <li><a href="http://www.miller-jensen.org/"  target="_blank">Yale LINCS (Yale University)</a> </li>
            </div>
        </ul>
        <p class="col-md-offset-1">
            If you use this website you are agreeing to accept the terms and conditions on this page. We reserve the right to modify these terms at any time.
            This site may be used under the under the <a href="http://creativecommons.org/licenses/by/4.0/" target="_blank">Creative Commons Attribution License Version 4 </a>
        </p>
    <div class="col-md-offset-1" >
       <h3><b>Citation Policy</b></h3>
        <!--<h4>Citation Policy</h4>-->
        <p>
            LINCS Data Portal provides access to LINCS data from various sources. We encourage the use of the LINCS resources for your research, we encourage proper citation as detailed below:
            </p>
        <p>
            LINCS Data Portal. Retrieved from <a href="http://lincsportal.ccs.miami.edu/dcic-portal/" >http://lincsportal.ccs.miami.edu/dcic-portal/ </a>
            If you are unsure about how to cite a source or would like a written approval for a specific use please contact us at:  <a href="mailto:support@lincs-dcic.org?Subject=[Questions/Comments regarding Citation Policy]"> support at lincs dash dcic dot org </a>

            We encourage you to send us a copy of your publication or other work citing these resources to the email above.
        </p>
    </div>
    <!--</article>-->

</div>