<nav class="navbar navbar-default navbar-fixed-top main-nav">
    <div class="main-content nav-margin" >
        <div class="navbar-header">
            <a href="/dcic-portal"> <img class="pull-left nav-logo"  ng-src="images/ldp_logo.png"/></a>
            <a class="navbar-brand" href="/SmallMolecules">LINCS Data Portal <span style="font-size: larger">|</span> Small Molecules</a>
        </div>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" style="margin-right: 2em">
            <a  class="titip-bottom" data-title="LINCS Small Molecules"  href="/SmallMolecules" style="color: whitesmoke">
                <img src="images/smallmolecule.png"></a>
            <a class="titip-bottom" data-title="LINCS Datasets" href="/datasets"><img src="images/dataset_logo.png"></a>
            <a class="titip-bottom" data-title="LINCS Cells"  href="/cells"><img src="images/cellline.png"></a>
            <a class="titip-bottom" data-title="Harmonizome" href="http://amp.pharm.mssm.edu/Harmonizome/"><img src="images/gene.png"></a>
            <a class="titip-bottom layer" ><img src="images/protein.png" ></a>
            <a class="titip-bottom layer" ><img src="images/antibody.png"></a>
        </ul>
    </div>
</nav>