<div class="col-md-2 panel panel-default tool">
    <div>
        <hr class="slicr">
        <img src="images/slicr.png" class="tool-image"><b class="tool-name">
        Slicr</b></div>
    <hr class="slicr">

    <p class="tool-desc">
        Slicr is a metadata search engine that searches for LINCS L1000 gene expression profiles and signatures matching user's input parameters. It features download of selected search results as csv files in a zipped folder and visualization of selected results in a 3D scatter plot using PCA or MDS. Slicr consists of three views: the search view, the checkout view and the 3D scatter view.
    </p>
</div>