<nav class="navbar navbar-default navbar-fixed-top main-nav">
    <div class="main-content nav-margin" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/dcic-portal"> <img class="pull-left nav-logo"  ng-src="images/ldp_logo.png"/></a>
            <a class="navbar-brand" href="/cells">LINCS Data Portal <span style="font-size: larger">|</span> Cells</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" >
            <ul class="nav navbar-nav navbar-right">
                <!--<li ><a href="/dcic-portal" >Home</a></li>-->
                <!--<li><a href="/datasets-beta">Datasets</a></li>-->
                <!--<li class="dropdown">-->
                    <!--<a  class="toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Entities <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="/SmallMolecules">Small Molecules</a></li>-->
                        <!--<li><a href="/entities">Cell Lines</a></li>-->
                        <!--<li><a href="/entities">Proteins</a></li>-->
                        <!--<li><a href="/entities">Genes</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="/apis">API'S</a></li>-->
                <!--<li>-->
                    <!--<button ng-controller="DownloadController" type="button" class="btn btn-warning nav-cart-btn" aria-label="Add"  ng-click="showCreateModal()">-->
                    <!--<i class="fa fa-shopping-cart fa-2x">-->
                        <!--<span ng-if="downloadservice.cart.length!=undefined ">-->
                    <!--<span class="nav-cart-count" ng-if="downloadservice.cart.length>0 ">-->
                    <!--{{downloadservice.cart.length}}-->
                    <!--</span>-->
                    <!--</span>-->
                    <!--</i>-->
                    <!--</button>-->
                <!--</li>-->
            </ul>
        </div>
    </div>
</nav>